
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 70, 70);
}

.content {
  display: flex;
  align-items: center;
  background-color: rgb(200, 200, 200);
  width: 100%;
}

.content > div {
  flex-basis: 100%;
}